<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498676210174-dt4610ckq2uu109rim3ig276ro0qj7a4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498676210174-dt4610ckq2uu109rim3ig276ro0qj7a4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>498676210174-l63cula4j9fstslh4dr4ar45jefcc75e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDvuK6SN8xVdzhOds-mmsfQuC9Tz7aeWvE</string>
	<key>GCM_SENDER_ID</key>
	<string>498676210174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myNewApp</string>
	<key>PROJECT_ID</key>
	<string>water-d6543</string>
	<key>STORAGE_BUCKET</key>
	<string>water-d6543.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498676210174:ios:a9305dbc3e6df9242bc8af</string>
</dict>
</plist>